* {
  box-sizing: border-box;
}

.menu-icon {
  margin: 0.5rem;
  font-size: 2rem;
}

.menu-shade {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.menu-shade.is-drawn {
  opacity: 0.5;
  pointer-events: all;
}
