button {
  height: 3rem;
  width: 6rem;
  border-radius: 0.5rem;
}

.CustomButton-buttonOne {
  background-color: red;
}

.CustomButton-buttonTwo {
  background-color: lime;
}

.CustomButton-buttonThree {
  background-color: blue;
  color: white;
}
