.light-bulb {
  height: 400px;
  width: 400px;
  border-radius: 300px;
  flex-basis: 20%;
}

.light-bulb:hover {
  cursor: pointer;
}

.container {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: rgb(12 32 32);
}

.lit {
  background-color: khaki;
}

.on {
  background-color: yellow;
  box-shadow: 2 dimgray;
}

.off {
  background-color: slategray;
}
