span {
  font-size: 3.5rem;
  white-space: pre;
  border-bottom: 0.5rem solid black;
}

.green {
  color: limegreen;
  border-bottom: none;
}

.red {
  color: red;
}

.container {
  width: 1000px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
