.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

div {
  line-height: 25px;
}

.row {
  display: flex;
  flex-direction: row;
}

.columm-fourth {
  flex-basis: 25%;
}

.column-whole {
  text-align: center;
  display: block;
}
