button {
  height: 3rem;
  width: 6rem;
  border-radius: 0.5rem;
}

.CustomButton-buttonOne {
  color: white;
  background-color: black;
}

.CustomButton-buttonTwo {
  color: white;
  background-color: blue;
}

.CustomButton-buttonThree {
  color: white;
  background-color: green;
}
