.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  justify-content: end;
}

.header-two {
  text-align: center;
}

.column-whole > h1 p {
  width: 1200px;
  height: 800px;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
}

.column-whole > img {
  height: 500px;
  width: 1250px;
  margin-left: 150px;
}

picture {
  width: 700px;
  width: 1250px;
}
